<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--个推权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name="MyClass.UserInfo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Talk" />
        <activity android:name=".Join" />
        <activity android:name=".GameReady" />
        <activity android:name=".GameStart" />
        <activity
            android:name=".Test"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".GameFunction" />
        <activity android:name=".Room" />
        <activity android:name=".ImageDetail" />
        <activity android:name=".DownloadImg" />
        <activity android:name=".PictureStory" />
        <activity android:name=".Cognition" />
        <activity android:name=".OtherCognition" />
        <activity android:name=".CognitionDetail" />
        <activity android:name=".DescribeScene" />
        <activity android:name=".ReleaseScene" />
        <activity android:name="com.lzy.imagepicker.ui.ImageGridActivity" />
        <activity android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity" />
        <activity android:name=".SceneDetail" />
        <activity android:name=".PhotoView" />
        <activity android:name=".Login" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBarWithBackGround">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".TextDetail"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".AssessDetail" />
        <activity android:name=".AssessReort" />
        <activity android:name=".RankList"></activity>

        <service android:name="com.example.administrator.getuitest.demo.DemoIntentService" android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name="com.example.administrator.getuitest.demo.Myservice"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice"/>

        <meta-data
            android:name="PUSH_APPID"
            android:value="F3X4WEsJsY6Aj2rtPP9n9" />
    </application>
</manifest>